@font-face {
  font-family: 'GothamPro-Bold';
  src: url('fonts/GothamPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	font-style: 'GothamPro-Light', Arial, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-display: optional;
}

html, body {
	height: 100%;
}

.wrapper {
	overflow: hidden;
  	min-width: 1120px;
  	min-height: 100%;
}

.wrapper:after {
  	content: "";
  	display: block;
  	height: 77px;
}

.clearfix:after {
  	content: "";
  	display: block;
  	clear: both;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

	/*CONTAINERS*/

.header__container {
	margin: 0 auto;
	width: 1100px;
	height: 430px;
	background: #27273e;
}

.content__container {
	margin: 0 auto;
	width: 1100px;
	
}

.footer__container {
	margin: 0 auto;
	width: 1100px;
	height: 77px;
	background: #27273e;
}

	/*HEADER*/

.header {
	background: #27273e;
}

.logo_header {
	float: left;
	width: 50%;
}

.logo_footer {
	text-align: center;
	float: left;
	width: 33%;
}

.header__contacts {
	float: left;
	width: 50%;
	text-align: right;
}

.header__decor-img {
	clear: both;
}

.header__contact-phone {
	font-style: 'GothamPro-Bold', Arial, serif;
	font-size: 21px;
	color: #ffffff;
}

.header__contact__text {
	font-weight: bold;
	font-size: 14px;
	color: #ec1e79;
}

.header__decor-img {
	width: 1100px;
	height: 370px;
	background: url(../img/decor/head.png);
}
	/*CONTENT*/

.content {
	margin-top: 70px;
}

.features__title {
	font-style: 'GothamPro-Bold', Arial, serif;
	font-size: 49px;
	margin-top: 0px;
	margin-bottom: 65px;
}

.news__title {
	font-style: 'GothamPro-Bold', Arial, serif;
	font-size: 49px;
	margin-bottom: 75px;
}

.news__roster {
	margin-bottom: 70px;
}
	
.features {
	float: left;
	width: 100%;
	margin-bottom: 90px;
}

.features__uniqueness, .features__premium {
	text-align: center;
	float: left;
	width: 200px;
	margin-right: 70px;
}

.features__chairs {
	text-align: center;
	float: left;
	width: 200px;
}

.features__img {
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
	border-radius: 50%;
}

.features__uniqueness-img {
	background: url(../img/content/flower.png) center center #27273e no-repeat;
}

.features__premium-img {
	background: url(../img/content/mark-as-favorite-star.png) center center #27273e no-repeat;
}

.features__chairs-img {
	background: url(../img/content/painter-palette.png) center center #27273e no-repeat;
}

.features__subtitle {
	font-style: 'GothamPro-Bold', Arial, serif;
	font-size: 10.78px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.features__text {
	margin-bottom: 20px;
}

.features__list {
	text-align: left;
	list-style: circle;
	list-style-position: inside;
}

.features__item {
	margin-bottom: 20px;
}

.features__uniqueness-text, .features__uniqueness-roster, .features__premium-text, .features__premium-roster, .features__chairs-text, .features__chairs-roster {
	font-size: 18px;
}

.black-hole {
	width: 100%;
}

.black-hole__avatar, .prizes__avatar, .workspace__avatar {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
}

.black-hole__content, .prizes__content, .workspace__content {
	width: 695px;
	float: left;
}

.black-hole__img, .prizes__img, .workspace__img {
	height: 160px;
	width: 160px;
}

.news, .news__list {
	list-style: none;
}

.news__item {
	margin-top: 30px;
	border-bottom: 2px solid #f5f5f5;
}

.news__item:last-child {
	border-bottom: none;
}

.black-hole__date, .prizes__date, .workspace__date {
	font-family: Roboto;
	color: #656464;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}

.black-hole__title, .prizes__title, .workspace__title {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.black-hole__text, .workspace__text, .prizes__text {
	width: 656px;
	height: 163px;
	color: #221f1f;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	line-height: 21px;
}

	/*PAGES*/

.pagination {
	text-align: center;
}

.pagination__text, .pagination__list {
	display: inline-block;
	vertical-align: middle;
}

.pagination__btn {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	width: 6px;
	height: 10px;

}

.pagination__btn_prev {
	margin-right: 15px;
	color: black;
}

.pagination__btn_next {
	color: black;
	margin-left: 15px;
}

.pagination__btn_active {
	color: #bebdbd;
}

.pagination__item {
	display: inline-block;
	vertical-align: middle;
}

.pagination__link {
	width: 25px;
	height: 25px;
	color: #221f1f;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-align: center;
	text-decoration: none;
}

.pagination__link:hover {
	color: #ffffff;
	background: #27273e;
	border-radius: 3px;

}

.pagination__link_active {
	color: #ffffff;
	background: #27273e;
	border-radius: 3px;
}

	/*NAV*/


.nav {
	width: 200px;
	float: left;
	display: inline-block;
}

.cover {
	float: left;
	width: 880px;
}

.nav__list {
	list-style: none;
}

.nav__img {
	padding-right: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.nav__main-img {
	background: url('../img/icons/menu/main.png') center center no-repeat;
}

.nav__reviews-img {
	background: url('../img/icons/menu/feed.png') center center no-repeat;
}

.nav__rates-img {
	background: url('../img/icons/menu/wallet.png') center center no-repeat;
}

.nav__link {
	text-decoration: none;
}

.nav__text {
	color: #ec1e79;
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	text-transform: uppercase;
}

.nav__link:hover .nav__text, .nav__link_active .nav__text {
	color: black;
}

.nav__link:hover .nav__main-img, .nav__link_active .nav__img {
	background-image: url('../img/icons/menu/main_hover.png');
}

.nav__link:hover .nav__reviews-img {
	background-image: url('../img/icons/menu/feed_hover.png');
}

.nav__link:hover .nav__rates-img {
	background-image: url('../img/icons/menu/wallet_hover.png');
}

	/*FOOTER*/

.footer {
	background: #27273e;
	clear: both;
}

.footer__text {
	float: left;
	font-size: 14px;
	color: #ffffff;
	width: 33%;
	text-align: left;
}

.footer__soc-net {
	text-align: right;
	float: left;
	width: 33%;
	font-size: 14px;
	color: #ffffff;
}

.footer__soc-net-list {
	list-style: none;
}

.footer__vk-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/socials/vk.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__fb-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/socials/fb.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__google-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/socials/google.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__twitter-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/socials/twitter.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__mail-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/socials/mail.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__item {
	display: inline-block;
}

