
@font-face {
  font-family: 'GothamPro-Bold';
  src: url('fonts/GothamPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('fonts/GothamPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	font-style: 'GothamPro-Light', Arial, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-display: optional;
}

	/*CONTAINERS*/

.header__container {
	margin: 0 auto;
	width: 1100px;
	background: #27273e;
}

.content__container {
	margin: 0 auto;
	width: 880px;
	
}

.footer__container {
	margin: 0 auto;
	width: 1100px;
	background: #27273e;
}

	/*HEADER*/

.header {
	height: 450px;
}

.logo, .header__contacts {
	display: inline-block;
}

.header__contact-phone {
	font-style: 'GothamPro-Bold', Arial, serif;
	font-size: 21px;
	color: #ffffff;
}

.header__contact__text {
	font-weight: bold;
	font-size: 14px;
	color: #ec1e79;
}

.header__decor-img {
	width: 1100px;
	height: 370px;
	background: url(../img/decor/head.png);
}
	/*CONTENT*/

.content__features, .content__news {
	font-style: 'GothamPro-Bold', Arial, serif;
	font-size: 49px;
}
	
.features__uniqueness, .features__premium, .features__chairs {
	display: inline-block;
}

.features__uniqueness-img {
	width: 70px;
	height: 70px;
	background: url(../img/content/flower.png) center center #27273e no-repeat;
	border-radius: 50%;
}

.features__premium-img {
	width: 70px;
	height: 70px;
	background: url(../img/content/mark-as-favorite-star.png) center center #27273e no-repeat;
	border-radius: 50%;
}

.features__chairs-img {
	width: 70px;
	height: 70px;
	background: url(../img/content/painter-palette.png) center center #27273e no-repeat;
	border-radius: 50%;
}

.features__uniqueness-title, .features__premium-title, .features__chairs-title {
	font-style: 'GothamPro-Bold', Arial, serif;
	font-size: 10,78px;
	text-transform: uppercase;
}

.features__uniqueness-text, .features__uniqueness-roster, .features__premium-text, .features__premium-roster, .features__chairs-text, .features__chairs-roster {
	font-size: 18px;
}

.black-hole__avatar, .prizes__avatar, .workspace__avatar {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}

.black-hole__content, .prizes__content, .workspace__content {
	width: 700px;
	display: inline-block;
}

.black-hole__img, .prizes__img, .workspace__img {
	height: 160px;
	width: 160px;
}

.news, .news__list {
	list-style: none;
}

	/*PAGES*/

.pages__link {
	color: #221f1f;
}

.pages__number {
	text-decoration: none;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.pages {
	text-align: center;
}

.pages__text, .pages__roster {
	display: inline-block;
}

	/*NAV*/

.nav {
	display: inline-block;
}

.nav__list {
	list-style: none;
}

.nav__main-img {
	width: 20px;
	height: 20px;
	background: url('../img/icons/main_icon.png') center center no-repeat;
	display: inline-block;
}

.nav__reviews-img {
	width: 20px;
	height: 20px;
	background: url('../img/icons/feed_icon.png') center center no-repeat;
	display: inline-block;
}

.nav__rates-img {
	width: 20px;
	height: 20px;
	background: url('../img/icons/wallet_icon.png') center center no-repeat;
	display: inline-block;
}

	/*FOOTER*/

.footer {
	height: 77px;
}

.footer__text {
	font-size: 14px;
	color: #ffffff;
	width: 260px;
	height: 50px;
}

.footer__soc-net-text {
	font-size: 14px;
	color: #ffffff;
}

.footer__text, .logo, .footer__soc-net {
	display: inline-block;
}

.footer__soc-net-list {
	list-style: none;
}

.footer__vk-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/vk.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__fb-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/fb.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__google-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/google.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__twitter-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/twitter.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__mail-img {
	width: 20px;
	height: 20px;
	background: url(../img/icons/mail.png) center center no-repeat #d4d4d8;
	border-radius: 50%;
	display: inline-block;
}

.footer__item {
	display: inline-block;
}

