/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-feed {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 18px;
}
.icon-feed_hover {
  background-image: url(sprite.png);
  background-position: -20px 0px;
  width: 20px;
  height: 18px;
}
.icon-main {
  background-image: url(sprite.png);
  background-position: -40px 0px;
  width: 17px;
  height: 15px;
}
.icon-main_hover {
  background-image: url(sprite.png);
  background-position: -40px -15px;
  width: 17px;
  height: 15px;
}
.icon-wallet {
  background-image: url(sprite.png);
  background-position: 0px -18px;
  width: 19px;
  height: 16px;
}
.icon-wallet_hover {
  background-image: url(sprite.png);
  background-position: -19px -18px;
  width: 19px;
  height: 16px;
}
