html, body {
	height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
	font-family: 'gotha_light', Arial, serif;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	overflow: hidden;
  	min-width: 1120px;
  	min-height: 100%;
}

.clearfix:after {
  	content: "";
  	display: block;
  	clear: both;
}