.comments {
    margin-bottom: 47px;
}

.comments__header {
    margin-top: 28px;
    margin-bottom: 50px;
    font-family: "Gotham Pro";
    font-size: 49px;
    font-weight: 700;
    color: #221f1f;
}

.comment__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    display: inline-block;
}

.comment__content {
    display: inline-block;
    width: 690px;
    height: 200px;
}

.comment__date {
    margin: 0 0 15px 0;
    font-size: 14px;
    font-weight: 300;
    color: #656464;
}

.comment__title {
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.comment__text {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    color: #221f1f;
}

.comments__item {
    padding: 30px 0 27px 0;
    border-bottom: 2px solid #f5f5f5;
}

.comments__item:first-child {
    padding-top: 0;
}

.comments__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.sale {
    margin: 57px 0;
    background-color: #27273e;
    height: 170px;
}

.sale__text {
    display: inline-block;
    margin: 48px 256px 48px 233px;
    font-family: 'gotha_bold', Arial, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.feedback {
    margin: 0 auto;
    padding: 50px 70px;
    width: 560px;
    height: 330px;
    background-color: #f5f5f5;
}

.feedback__title {
    margin: 0;
    margin-bottom: 30px;
    color: #221f1f;
    font-size: 49px;
   font-family: 'gotha_bold', Arial, serif;
}

.feedback__info {
    display: inline-block;
    width: 270px;
    height: 65px;
    margin-bottom: 20px;
}

.feedback__info--name {
    margin-right: 15px;
}

.feedback__name, .feedback__link-vk {
    padding: 0;
    width: 266px;
    height: 43px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    outline: 0;
}

.feedback__subtitle {
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
}

.feedback__info-text {
    width: 565px;
    height: 115px;
    float: left;
    display: inline-block;
    margin-bottom: 20px;
}

.feedback__text {
    width: 554px;
    height: 90px;
    border-radius: 5px;
    border: none;
    outline: 0;
    resize: none;
}

.feedback__display-photo {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-family: 'gotha_light', Arial, serif;
    margin-bottom: 10px;
}

.feedback__text:hover, .feedback__name:hover, .feedback__link-vk:hover {
    border: 1px solid #ec1e79;
}

.feedback__text:focus, .feedback__name:focus, .feedback__link-vk:focus {
    background: #ffe;
    border: 1px solid #ec1e79;
}

.feedback__info-radio {
    width: 203px;
    float: left;
    margin-right: 218px;
}

.feedback__photo-check-yes {
    position: relative;
}

.feedback__photo-check-no {
    position: relative;
}

.feedback__photo {
    height: 20px;
    width: 20px;
    margin-right: 7px;
    background-color: #ec1e79;
    opacity: 0;
}

.feedback__check-yes {
    width: 20px;
    height: 20px;
    background-color: white;
    display: block;
    position: absolute;
    bottom: 10%;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
}

.feedback__check-no {
    width: 20px;
    height: 20px;
    background-color: white;
    display: block;
    position: absolute;
    bottom: 10%;
    right: 60%;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
}

.feedback__point-yes {
    width: 8px;
    height: 8px;
    background-color: #ec1e79;
    display: block;
    position: absolute;
    bottom: 56%;
    right: 71%;
    border-radius: 50%;
    opacity: 0;
}

.feedback__photo--yes:checked + .feedback__check-yes {
    border: 1px solid #ec1e79;
}

.feedback__photo:checked + .feedback__check-no {
    border: 1px solid #ec1e79;
}

.feedback__photo--yes:checked + .feedback__point-yes {
    opacity: 1;
}

.feedback__button {
    width: 139px;
    height: 45px;
    float: left;
}

.feedback__send {
    width: 139px;
    height: 45px;
    background-color: #27273e;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.feedback__send:focus {
    background: #ec1e79;
}


