.footer {
	margin-top: 66px;
	padding-top: 14px;
	background: #27273e;
	min-height: 77px;
	clear: both;
	font-family: 'gotha_bold', Arial, serif;
}

.logo_footer {
	text-align: center;
	float: left;
	width: 33%;
}

.footer--comments {
	margin-top: 49px;
}

.footer__text {
	float: left;
	font-size: 15px;
	color: #ffffff;
	width: 33%;
	text-align: left;
	font-weight: 300;
}

.footer__loft-link {
	color: white;
}

.footer__soc-net {
	margin-top: 4px;
	text-align: right;
	float: left;
	width: 33%;
	font-size: 14px;
	color: #ffffff;
}

.footer__soc-net-list {
	margin-top: 7px;
	list-style: none;
}

.footer__img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	transition: background .5s;
	-webkit-transition: background .5s;
}

.footer__img_vk {
	background: url(../../img/icons/socials/vk.png) center center no-repeat #d4d4d8;
}

.footer__img_fb {
	background: url(../../img/icons/socials/fb.png) center center no-repeat #d4d4d8;
}

.footer__img_google {
	background: url(../../img/icons/socials/google.png) center center no-repeat #d4d4d8;
}

.footer__img_twitter {
	background: url(../../img/icons/socials/twitter.png) center center no-repeat #d4d4d8;
}

.footer__img_mail {
	background: url(../../img/icons/socials/mail.png) center center no-repeat #d4d4d8;
}

.footer__img:hover {
	background-color: #ec1e79;
}

.footer__item {
	margin-right: 10px;
	display: inline-block;
}
