.header {
	margin-bottom: 65px;
	min-height: 77px;
	background: #27273e;
}

.header--comments {
	margin-bottom: 38px;
	min-height: 65px;
}

.header_general {
	min-height: 400px;
	background: #27273e;
}
.logo_header {
	float: left;
	width: 50%;
}

.logo_footer {
	text-align: center;
	float: left;
	width: 33%;
}

.header__contacts {
	margin-top: 5px;
	float: left;
	width: 50%;
	height: 56px;
	text-align: right;
}

.header__decor-img {
	clear: both;
}

.header__contact-phone {
	text-decoration: none;
	font-family: 'gotha_bold', Arial, serif;
	font-size: 21px;
	color: #ffffff;
}

.header__schedule {
	border: none;
	background-color: #27273e;
	font-size: 14px;
	color: #ec1e79;
	opacity: 0.7;
	font-family: "Open Sans", Arial, serif;
	font-weight: 700;
	text-decoration: underline;
	display: inline-block;
	/*width: 100%;*/
	text-align: right;
	float: right;
	transition: color 5s;
	-webkit-transition: color 5s;
}

.header__decor-img {
	width: 1100px;
	height: 358px;
	background: url(../../img/decor/head.png) -20px no-repeat;
	position: relative;
	animation: decor 1s;
}

.header__anchor {
	width: 42px;
	height: 26px;
	display: block;
	position: absolute;
	top: 85%;
	right: 48%;
}

@keyframes decor {
	0% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0px);
	}
}