.back-img {
    width: 100%;
    height: 100%;
    background: url("../../img/decor/index.png") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.animate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.animate__logo {
    width: 160px;
    height: 120px;
    background: url("../../img/logo/index-logo.png") no-repeat center center;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 10px;
}

.animate__link {
    text-decoration: none;
    color: #ec1e79;
    font-size: 12px;
    font-family: 'gotha_bold', Arial, serif;
    text-transform: uppercase;
}

.animate__link-item {
    border: 3px solid #ec1e79;
    width: 180px;
    height: 40px;
    position: relative;
    transition: background 1s, color 1s;
    -webkit-transition: background 1s, color 1s;
}

.animate__link-text {
    font-size: 14px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.animate__link-item:hover {
    background: #ec1e79;
    color: white;
}

.animate__work {
    animation: work 1s;
}

@keyframes work {
    0% {
        transform: translateY(100px) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: rotate(10deg);
        opacity: 0.2;
    }

    90%{
        transform: rotate(-10deg);
        opacity: .5;
    }

    100%{
        transform: rotate(0deg);
        opacity: 1 ;
    }
}