.pagination {
    margin-left: 61px;
    text-align: center;
    font-family: 'Roboto', Arial, serif;
}

.pagination--comments {
    text-align: left;
    margin-left: 228px;
}

.pagination__text, .pagination__list {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.pagination__btn {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    padding: 7px 10px;
    transition: color .5s, background .5s;
}

.pagination__btn_prev {
    color: black;
}

.pagination__btn_next {
    color: black;
}

.pagination__btn_active {
    pointer-events: none;
    color: #bebdbd;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__link {
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-right: 17px;
    transition: color .5s, background .5s;
}

.pagination__link:hover, .pagination__btn:hover {
    color: #ec1e79;
}

.pagination__link_active {
    pointer-events: none;
    color: #ec1e79;
    background: #27273e;
    border-radius: 3px;
    padding: 4px 9px;
    margin-right: 5px;
}

.pagination__btn_active:hover {
    color: #bebdbd;
    background: white;
    border-radius: 0;
}