.rates__title {
    font-family: 'gotha_bold', Arial, serif;
    font-size: 49px;
    margin: 18px 0 37px 0;
}

.rates__list {
    vert-align: top;
}

.rates__item {
    width: 250px;
    min-height: 375px;
    display: inline-block;
    margin-right: 53px;
    margin-bottom: 38px;
    vertical-align: top;
}

.rates__item--last {
    margin-right: 0;
}

.rates__img {
    display: inline-block;
    width: 250px;
    height: 153px;
    margin-bottom: 22px;
    position: relative;
}

.rates__img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #5dd1f8;
    font-size: 24px;
    font-family: 'gotha_bold', Arial, serif;
    text-align: center;
}

.rates__img--one {
    background: url("../../img/content/rates/tarifs/one.png");
}

.rates__img--three {
    background: url("../../img/content/rates/tarifs/three.png");
}

.rates__img--10-10 {
    background: url("../../img/content/rates/tarifs/10-10.png");
}

.rates__img--vip-for-one {
    background: url("../../img/content/rates/tarifs/vip-for-one.png");
}

.rates__img--all-inclusive {
    background: url("../../img/content/rates/tarifs/all inclusive.png");
}

.rates__img--conversation {
    background: url("../../img/content/rates/tarifs/conversation.png");
}

.rates__subtitle {
    font-size: 18px;
    font-family: 'gotha_bold', Arial, serif;
    text-align: center;
    margin-bottom: 13px;
}

.rates__text {
    font-size: 14px;
    font-family: 'gotha_light', Arial, serif;
    line-height: 21px;
    text-align: center;
}

/*Partners*/

.partners__title {
    font-family: 'gotha_bold', Arial, serif;
    font-size: 49px;
    margin: 0 0 45px 5px;
}

.partners__logo {

}

.partners__link {
    display: inline-block;
    margin-right: 117px;
    margin-bottom: 34px;
}

.partners__avatar {
    position: relative;
    width: 170px;
    height: 65px;
}

.partners__link img {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s;
}

/*winter*/

.partners__link img.partners__img--winter-color {
    opacity: 0;
}

.partners__link:hover img.partners__img--winter-color {
    opacity: 1;
}

.partners__link:hover img.partners__img--winter-wb {
    opacity: 0;
}

/*drop*/

.partners__link img.partners__img--drop-color {
    opacity: 0;
}

.partners__link:hover img.partners__img--drop-color {
    opacity: 1;
}

.partners__link:hover img.partners__img--drop-wb {
    opacity: 0;
}

/*Anna*/

.partners__link img.partners__img--anna-color {
    opacity: 0;
}

.partners__link:hover img.partners__img--anna-color {
    opacity: 1;
}

.partners__link:hover img.partners__img--anna-wb {
    opacity: 0;
}

/*tishkin*/

.partners__link img.partners__img--tishkin-color {
    opacity: 0;
}

.partners__link:hover img.partners__img--tishkin-color {
    opacity: 1;
}

.partners__link:hover img.partners__img--tishkin-wb {
    opacity: 0;
}

/*pyphok*/

.partners__link img.partners__img--pyphok-color {
    opacity: 0;
}

.partners__link:hover img.partners__img--pyphok-color {
    opacity: 1;
}

.partners__link:hover img.partners__img--pyphok-wb {
    opacity: 0;
}

/*avantash*/

.partners__link img.partners__img--avantash-color {
    opacity: 0;
}

.partners__link:hover img.partners__img--avantash-color {
    opacity: 1;
}

.partners__link:hover img.partners__img--avantash-wb {
    opacity: 0;
}